<center>
  <%= form_tag sessions_path, class: "form-horizontal" do %>
   
   <h3>Inicia sesión</h3>
   <div class="form-group"><br />
    <%= label_tag :mail, "Correo" %>
      <div class="col-md-4">
    <%= text_field_tag :mail, params[:mail]%>
      </div>
   </div>

  <div class="form-field"><br />
    <%= label_tag :password, "Contraseña" %>
    <%= password_field_tag :password %>
  </div><br>
  <div><%= submit_tag "Iniciar sesion", class:"btn btn-default" %></div>
<% end %>

<div class="msg">
  <p> No tienes cuenta? ¡Registrate! <p> 

  <%= link_to "Para usuarios", signup_user_path %>
  <%= link_to "Para empleados", signup_employee_path %>
</div>
<div class="go-back">
  <%=link_to "Regresar al incio", root_path %>
</div>
</center>

