<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>
  <br>
  <div class="field">
    <%= f.label :prioridad, "Prioridad (ALTA, BAJA, MEDIA)"%>
    <%= f.text_field :prioridad %>
  </div>
  <br>
  <div class="field">
    <%= f.label :catalog, "Area"%>
    <%= f.select :catalog, @catalogList%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
