<h1>Listado de incidentes</h1>

<% if @incidents.size > 0 %>
  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Descripcion</th>
        <th>Prioridad</th>
        <th>Estado</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @incidents.each do |incident| %>
        <tr>
          <td><%= "TODO" %></td>
          <td><%= incident.descripcion %></td>
          <td><%= incident.prioridad %></td>
          <td><%= incident.estado %></td>
          <td><%= link_to 'Ver más', incident %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% else %>
  No hay incidentes disponibles actualmente. 
<% end %>

<% if session[:user_type] == 0 %>
  <%= link_to 'Nuevo incidente', new_incident_path %>
<% end %>
