<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @incident.tipo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @incident.descripcion %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @incident.prioridad %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
