<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @incident.tipo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @incident.descripcion %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @incident.prioridad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @incident.estado%>
</p>

<%= link_to 'Ver historial', incident_attempts_path(@incident) %> |
<% if @incident.estado == 'ABIERTO' %>
  <%= link_to 'Marcar como terminado', incident_update_path(@incident) %> |
<% end %>
<%= link_to 'Atras', incidents_path %>
