<!DOCTYPE html>
<html>
<head>
  <title>DbRuby</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
  body {
    padding-top: 60px;
  }
  @media (max-width: 980px) {
    body {
      padding-top: 0;
    }
  }
</style>


</head>

<body role="document">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">ITESM</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Incidentes", incidents_path()  %></li>
            <li>
              <% if !current_user %>
                <%= link_to "Iniciar sesión", login_url %>
              <% else %>
                 <%= link_to "Cerrar sesión", logout_url %>
               </li>
               <li>
                 <%= link_to current_user.name %>
              <% end %>
            </li>
            <!-- <li><%= link_to "Contact Us" %></li> -->
            <!-- <li><%= link_to "Cart" %></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="span9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
