<!DOCTYPE html>
<html>
<head>
  <title>DbRuby</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Inicio", root_url %> | 
<% if !current_user %>
  <%= link_to "Iniciar sesión", login_url %>
<% else %>
  <%= current_user.name %> | 
  <%= link_to "Cerrar sesión", logout_url %>
<% end %>

<%= yield %>

</body>
</html>
